<main class="d-flex justify-content-around flex-column p-2" id="workout-main">
    <form class="d-flex flex-row p-4 border-bottom justify-content-between" id="workout-form">
    <div>    
        <label for="workoutName">Name this workout</label>
        <input type="text" name="workoutName" id="workout-name">
        </div>
        <button class="btn btn-primary" >Save Workout</button>

    </form>
            <div class="d-flex flex-column">
            <form class="d-flex justify-content-around flex-row p-4">
                <label for="exercise">Upper body push exercise</label>
                <input type="text" name="exercise" id="ubpushName">
                <label for="weight">Weight</label>
                <input type="text" name="weight" id="ubpushWeight"> 
                <label for="sets">Sets</label>
                <input type="text" name="sets" id="ubpushSets">
                <label for="reps">Reps</label>
                <input type="text" name="reps" id="ubpushReps">
            </form>
          </div>
          <div class="d-flex flex-column">
            <form class="d-flex justify-content-around flex-row p-4">
                <label for="exercise">Upper body pull exercise</label>
                <input type="text" name="exercise" id="ubpullName">
                <label for="weight">Weight</label>
                <input type="text" name="weight" id="ubpullWeight"> 
                <label for="sets">Sets</label>
                <input type="text" name="sets" id="ubpullSets">
                <label for="reps">Reps</label>
                <input type="text" name="reps" id="ubpullReps">
            </form>
          </div>
          <div class="d-flex flex-column">
            <form class="d-flex justify-content-around flex-row p-4">
                <label for="exercise">Lower body exercise</label>
                <input type="text" name="exercise" id="lbName">
                <label for="weight">Weight</label>
                <input type="text" name="weight" id="lbWeight"> 
                <label for="sets">Sets</label>
                <input type="text" name="sets" id="lbSets">
                <label for="reps">Reps</label>
                <input type="text" name="reps" id="lbReps">
            </form>
          </div>
</main>

<script src="/js/newWorkout.js"></script>