<main class="d-flex justify-content-around flex-column p-2" id="workout-main">
    <form class="d-flex flex-row p-4 border-bottom justify-content-between">
    <div>    
        <label for="workoutName">Name this workout</label>
        <input type="text" name="workoutName" id="workout-name">
        </div>
        <button class="btn btn-primary">Save Workout</button>

    </form>
    <div class="d-flex flex-column" id="exercise-form">
        <form class="d-flex justify-content-around flex-row p-4">
            <label for="exercise">Exercise Name</label>
            <input type="text" name="exercise" id="exercise">
            <label for="weight">Weight</label>
            <input type="text" name="weight" id="weight"> 
            <label for="sets">Sets</label>
            <input type="text" name="sets" id="sets">
            <label for="reps">Reps</label>
            <input type="text" name="reps" id="reps">
        </form>
        <div class="d-flex flex-row justify-content-around">
            <button class="btn btn-primary" id="new-exercise-button">Add Another Exercise</button>
        </div>
    </div>
</main>

<script src="/js/newWorkout.js"></script>